body{
    padding:0;
    margin:0;
    overflow:scroll;
}

.camera{
    width:100vw;
    height: 100vh;
    background-color:white;
}

.snap-button{
    background-color:gray;
    width:100px;
    height:100px;
    position:absolute;
    z-index:5;
    bottom:0;
    margin-bottom:50px;
    left:33vw;
    border-radius:67px;
    border:10px solid black;
}

